
* {
    box-sizing: border-box;
}
  .container {
    display: grid;
    grid-template-columns: 1fr 105px 65% 105px 1fr;
    grid-template-rows: 50px auto;
    height: 100vh;
    /*column-gap: 10px;
    row-gap: 15px;
    */
  }

 @keyframes test-animation {
    0% {
        transform-origin: 0% 0%;
        transform: translate(0, -150%);
    }
    100% {
        transform-origin: 0% 0%;
        transform: translate(0, 0);
    }
}

.container header{
    grid-column: 1 / 6;
    grid-row: 1 / 2;
    color: ghostwhite;
    animation-name: test-animation;
    animation-duration: 1.5s;
}
.logo {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    justify-self: end;
    align-self: center;
    min-width: 105px;
    width: 105px;
    height: 30px;
    cursor: pointer;
    animation-name: test-animation;
    animation-duration: 1.5s;
}

.bell {
    grid-column: 4 / 5;
    grid-row: 1 / 2;
    justify-self: center;
    align-self: center;
    min-width: 20px;
    height: 20px;
    cursor: pointer;
    opacity: 0.5;
    animation-name: test-animation;
    animation-duration: 1.5s;
   
}

.container nav {
    grid-column: 4 / 5;
    grid-row: 1 / 2;
    justify-self: end;
    align-self: center;
    animation-name: test-animation;
    animation-duration: 1.5s;


}
.container main {
    color: black;
    grid-column: 2 / 5;
    grid-row: 2 / 3;
    place-self: center;
    z-index: -1;
}

.container aside {
    grid-column: 4 / 6;
    grid-row: 2 / 3;
    justify-self: start;
    align-self: flex-end;
}

.Error {
    color: white;
    background: indianred;
    row-gap: 15px;
    padding: 0px 10px 5px 40px;
    margin-right: 5px;
    margin-top: 20px;
    border-radius: 5px;
}
.Success {
    color: white;
    background: green;
    opacity: 0.5;
    row-gap: 15px;
    padding: 0px 10px 5px 40px;
    margin-right: 5px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
}
.material-icons {
    position: relative;
    /* измените эти значения */
    top: 40px;
    left: -25px;
  }

.fas {
    position: relative;
        top: 40px;
    left: -25px;
} 
  
body {
  margin: 0;
  padding: 0;
  color: #cdcdcd;
  font-family: "Avenir Next", "Avenir", sans-serif;
}

header {
    background-color: ghostwhite;
}

#menuToggle
{
  display: block;
  position: relative;

  z-index: 1;
  
  -webkit-user-select: none;
  user-select: none;
}

#menuToggle a
{
  text-decoration: none;
  color:black;
  
  transition: color 0.3s ease;
}

#menuToggle li:hover
{
    background: ghostwhite;    
}


#menuToggle input
{
  display: block;
  width: 40px;
  height: 40px;
  position: absolute;
  top: 7px;
  left: 5px;
  
  cursor: pointer;
  
  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */
  
  -webkit-touch-callout: none;
}

/*
 * Just a quick hamburger
 */
#menuToggle span
{
  display: block;
  width: 33px;
  height: 33px;
  margin-bottom: 5px;
  position: relative;
  text-align: center;
  line-height: 33px;
      
  background: orange;
  border-radius: 30px;
  color: white;
  
  z-index: 1;

}

#menuToggle input:checked ~ span
{
  opacity: 1;
  background: orange;
  color: white;
}

/*
 * Make this absolute positioned
 * at the top left of the screen
 */
#menu
{
  position: absolute;
  width: 160px;
  margin: 10px 0 0 0px;
  padding: 20px;
  padding-top: 10px;
  left: -100px;
  
  box-shadow: 0 0 20px gainsboro;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */
  
 transform-origin: 0% 0%;
 transform: translate(0, -150%);
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu li
{
  padding: 10px 0;
  font-size: 16px;
}

/*
 * And let's slide it in from the left
 */
#menuToggle input:checked ~ ul
{
  transform: none;
}
